#div1 h1, #div2 h1{
	color: blue;
}

table td, th{
	border: 1px solid;
	text-align: center;
}

.menu{
	list-style-type: none;
	float: right;
}

.menu li{
	margin: 10px;
	float: left;
}

#rodape{
	margin-top: 50px;
	text-align: center;	
}

.imagemlogo{
 /*	width: 461px;
 	height: 461px;*/
 	margin: 0 auto;
 	/*border: 1px solid;*/
 	text-align: center;
}

.imagemlogo img{
 	width: 461px;
 	height: 260px;
}

.jumbotron{
	background-color: #fab740;

}

#botoesnav{
	padding:50px;
}

#corpo table{
	margin: 0 auto;

}
